<div class="container">
  <div class="row">
    <div class="col">
      <h2>Mi perfil</h2>
      <div></div>
      <!--sangria-->
      <form method="post" action="http://localhost:3000/Cliente/UpdateDatosCliente">

        <div class="alert alert-secondary" data-bs-toggle="collapse" href="#collapseDatos">Datos de perfil</div>
        <div class="collapse" id="collapseDatos">
          <div class="row">
            <div class="col-sm-6">
              <div class="row text-muted">Correo electrónico</div>
              <div class="row"><input type="text" id="inputEmail" class="input-group-text" style="width:90%"
                  name="email" placeholder="{{cliente.cuenta.email}}" /></div>
              <div class="row text-muted">Contraseña</div>
              <div class="row"><input type="password" id="inputPass" class="input-group-text" style="width:90%" /></div>
              <div class="row text-muted">Nombre</div>
              <div class="row"><input type="text" id="inputNombre" class="input-group-text" style="width:90%"
                  name="nombre" placeholder="{{cliente.nombre}}" /></div>

            </div>

            <div class="col-sm-6">
              <div class="row text-muted">Teléfono</div>
              <div class="row"><input type="text" id="inputTlfn" class="input-group-text" style="width:90%"
                  name="telefono" placeholder="{{cliente.telefono}}" /></div>
              <div class="row text-muted">Repetir la contraseña</div>
              <div class="row"><input type="password" id="inputPassRep" class="input-group-text" style="width:90%"
                  name="repassword" />
              </div>
              <div class="row text-muted">Apellidos</div>
              <div class="row"><input type="text" id="inputApellidos" class="input-group-text" style="width:90% "
                  name="apellidos" placeholder="{{cliente.apellidos}}" /></div>

            </div>
          </div>
          <div class="row"><span></span></div>
          <div class="row">
            <div class="col-sm-4">
              <div class="text-muted">Foto</div>
              <div id="avatarPerfil" class="card" style="width:200px;height:250px; background-color:aliceblue">
                <input type="file" accept="image/*" id="selectorImagen" name="imagen" style="visibility: hidden;" />
                <a onclick="javascript: $('#selectorImagen').click()">
                  <img id="imagenUsuario" style="width:200px;height:250px;" src="{{cliente.cuenta.imagenAvatar}}" />
                </a>
              </div>
              <button type="button" id="botonUploadImagen" class="btn btn-link btn-sm" disabled>+ Sube una foto</button>
              <div id="mensajeRespuesta"></div>
            </div>
            <div class="col-sm-8">
              <div class="row text-muted">Usuario</div>
              <div class="row"><input type="text" id="inputUsuario" class="input-group-sm" name="usuario"
                  placeholder="{{cliente.cuenta.login}}" /></div>
              <div class="row text-muted">Genero</div>
              <div class="row">
                <select class="form-select" aria-label="Elige genero" name="genero">
                  <option selected>Elige genero</option>

                  <option value="Hombre">Hombre</option>
                  <option value="Mujer">Mujer</option>
                </select>
              </div>
              <div class="row text-muted">Fecha de nacimiento</div>
              <div class="row">
                <div class="col-sm-4">
                  <select name="dia" id="dia" class="form-select">
                    <option value="0" selected>Elige día</option>
                    {{#each dias}}
                      <option value="{{this}}">{{this}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="col-sm-4">
                  <select name="mes" id="mes" class="form-select">
                    <option value="0" selected>Elige mes</option>
                    {{#each meses}}
                      <option value="{{this}}">{{this}}</option>
                    {{/each}}

                  </select>
                </div>
                <div class="col-sm-4">
                  <select name="anio" id="anio" class="form-select">
                    <option value="0" selected>Elige año</option>
                    {{#each anios}}
                      <option value="{{this}}">{{this}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="row text-muted">Descripcion</div>
              <div class="row"><textarea id="textArea" placeholder="{{cliente.descripcion}}"
                  name="descripcion"></textarea> </div>
              <div class="ro2 align-text-top">
                <a href=""> Darme de baja</a>
                <button type="submit" class="btn btn-primary">Modificar Datos</button>
              </div>

            </div>
          </div>
        </div>

      </form>

      <div class="alert alert-secondary" data-bs-toggle="collapse" href="#collapseDirecciones">Direcciones</div>
      <div class="collapse" id="collapseDirecciones">
        <div>
          <p> Guarda todas tus direcciones de envío y elige la que usarás por defecto donde llegarán tus pedidos.</p>

          <p> Estas son las direcciones a las que puedes hacer tus envíos. Las direcciones de envío serán las que
            elijas mientras que la
            facturación será la misma en todas las direcciones:
          </p>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          + Nueva Direccion
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <h3><strong>Nueva Direccion</strong></h3>
                  </div>
                  <hr>
                  <div class="row">
                    <p>Si desea que enviemos el pedido a una dirección distinta de la de facturación, modifique los
                      campos a </p>
                    <p>continuación según proceda.</p>
                  </div>
                  <div class="row">
                    <!-- formulario de alta de direcciones -->
                    <form class="row g-3">

                      <div class="col-12">
                        <label for="inputAddress" class="form-label">Direccion de Envio:</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Mi Direccion">
                      </div>

                      <div class="col-6">
                        <label for="inputCP" class="form-label">Codigo Postal:</label>
                        <input type="text" class="form-control" id="inputCP" placeholder="Codigo Postal: 28803">
                      </div>
                      <div class="col-6">
                        <label for="inputPais" class="form-label">Pais:</label>
                        <input type="text" class="form-control" id="inputPais" placeholder="España">
                      </div>


                      <div class="col-6">
                        <label for="inputProvincia" class="form-label">Provincia:</label>
                        <select id="inputProvincia" class="form-select">
                          <option value="0" selected> - Seleccionar Provincia - </option>
                        </select>
                      </div>
                      <div class="col-6">
                        <label for="inputMunicipio" class="form-label">Municipio:</label>
                        <select id="inputState" class="form-select" disabled>
                          <option value="0" selected> - Selecciona un Municipio -</option>
                        </select>
                      </div>


                      <div class="col-12">
                        <button type="submit" class="btn btn-primary">Crear Direccion</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<script>
  //evento CHANGE sobre el select PROVINCIA para hacer una peticion AJAX al servicio externo y recuperar los municipios de esa provincia
  //https://apiv1.geoapi.es/municipios? CPRO=xxxx & type=JSON & key= & sandbox=1
  /*
  $('#inputProvincia').change(
              function(ev){
                  var _cpro=ev.target.value;
                  if(_cpro != "0"){ //se ha seleccionado opcion difererente a - Seleccciona Provincia - 
                      //haces pet.Ajax, recibes el resultado un JSON y en su prop .data esta el array de objetos JSON de tipo Municipio
                      //te recorres ese array y con jquery añades un option al select municipio 

                  }                    
              }
  );
  */

  //---------------------- seleccion imagen avatar cliente redimensionado y subida contenido en base64 al server por ajax---------
  //$('#selectorImagen').change(

  var nuevoContenido = ""; //contenido reducido en base64 de la imagen avatar de usuario...

  function muestraRespuestaServer(resp) {
    $('#mensajeRespuesta').append(`<p><span class="text-danger">${resp.mensaje}</span></p>`);
  }

  document.getElementById('selectorImagen').addEventListener('change',
    function (ev) {
      var fichSeleccionado = ev.target.files[0]; //fichero seleccionaado por el cliente...
      var reader = new FileReader();

      reader.addEventListener('load', function (evt) {
        var contenido = evt.target.result;
        console.log(contenido);
        //redimensionamos la imagen antes de mostrarla
        var canvas = document.createElement('canvas');
        var contexto = canvas.getContext('2d');

        $('#imagenUsuario').attr('src', contenido);
        document.getElementById('imagenUsuario').addEventListener('load', //con jquery peta ¿?
          function (evimg) {
            contexto.drawImage(document.getElementById('imagenUsuario'), 0, 0, 200, 250);
            nuevoContenido = canvas.toDataURL(fichSeleccionado.type);
            console.log('contenido del fichero imagen reducido...', nuevoContenido);
            //$('#imagenUsuario').attr('src', nuevoContenido);

            $('#botonUploadImagen').removeAttr('disabled');

          }
        ); //cuando se produce la carga de la imagen, es cuando redimensiono usando el canvas

      }); // leyendo del fichero imagen en evento load del obj FILEREADER

      reader.readAsDataURL(fichSeleccionado); //empiezo a leer el contenido de la imagen
    });

  $('#botonUploadImagen').click(
    function (ev) {
      //deshabilitar el boton antes, para evitar q el cliente haga clicks a tope
      $('#botonUploadImagen').attr('disabled', 'true');

      console.log('...a subir imagen por ajax a node js....');
      $.post('http://localhost:3000/api/uploadImagen', { fichero: nuevoContenido })
        .done(
          (respuesta) => { console.log(respuesta); muestraRespuestaServer(respuesta); }
        )
        .fail(
          (errores) => { console.log(errores); muestraRespuestaServer(errores); }
        );
    }
  );//subida de imagen al server....

    //---------------------- seleccion imagen avatar cliente redimensionado y subida del fichero en MULTIPART-FORM-DATA --------
</script>